# Core Libraries
pandas
numpy
requests

# Plotting (for EDA & Notebooks)
matplotlib
seaborn

# Technical Analysis
ta  # For RSI, MACD, moving averages

# Data Fetching
yfinance

# Machine Learning
scikit-learn

# Jupyter Notebook
notebook
ipykernel

# Google Sheets API
gspread
oauth2client  # For auth with Google Sheets
pygsheets

# Scheduler
schedule  # Simple time-based scheduler

# Telegram Alerts
python-telegram-bot

# Environment Variable Management
python-dotenv

#-e .


